<a href="https://colab.research.google.com/github/Tushar-Python-ML/Python-ML/blob/main/Day11_functions_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Day 11

In [1]:
# simple function
def fun():
  print("Hello World")
  print("Welcome")

print("before function call")
fun()
print("after function call")

before function call
Hello World
Welcome
after function call

In [2]:
# simple function
def fun():
  print("Hello World")
  print("Welcome")

print("before function call")
print(fun())
print("after function call")

before function call
Hello World
Welcome
None
after function call

In [4]:
# program to print the square of no

def square(num):
  print(num * num)

square(3)

9

In [13]:
# program to print the square of no
#without args, without return values

def square():
  x = int(input("Enter a num: "))
  y = x**2
  print("square of",x,"is",y)

square()

Enter a num: 1
square of 1 is 1

In [12]:
#with arguments, with return values
def square(x):
  y=x**2
  return y

x = int(input("enter a no: "))
res = square(x)
print(res)

enter a no: 1
1

In [24]:
#with arguments, without return values
def square(x):
  y=x**2
  print("square of",x,"is",y)

x = int(input("enter a no: "))
square(x)
# print(res)

enter a no: 2
square of 2 is 4

In [18]:
#without arguments, with return values
def square():
  x = int(input("Enter a num: "))
  y = x**2
  return y

res = square()
print(res)

Enter a num: 2
4

In [34]:
#return statement

def test(a,b,c,d):
  return a,b,c,d

# x,y,z,w = test(10,20,30,40)
x,y = test(10,20,30,40)[1:3]
# print(x,y,z,w)
print(x,y)

20 30

In [32]:
#return
def test1():
  l1 = [10,20,30,40]
  l2 = (60,70,80)
  return l1,l2

x,y = test1()
print(x,y)
print(type(x))
print(type(y))

[10, 20, 30, 40] (60, 70, 80)
<class 'list'>
<class 'tuple'>

In [35]:
def func1(a,b,c,d):
  return a,b,c,d

_,val2,_,val4 = func1(10,20,30,40)
print(val2, val4)

20 40

In [37]:
def func1(a,b,c,d):
  return a,b,c,d

_,__,c,d = func1(10,20,30,40)
print(_,__,c,d)

10 20 30 40

In [39]:
def func1(a,b,c,d):
  return a,b,c,d

a, a, a, a = func1(10,20,30,40)
print(a)

40

In [40]:
_ = 10
print(_)

10