In [ ]:
print("tushar-bansal")

tushar-bansal

In [ ]:
ashdkjas

In [1]:
#Day 3
#Creating a simple list

l = [10, 20.3, "NTT", 3+4j]
print(l)
print(type(l))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [2]:
#type fn returns the datatype class
a = 3+4j
print(type(a))

<class 'complex'>

In [6]:
# isinstance
a=10
print(isinstance(a,int))

a=10.0
print(isinstance(a,int))

True
False

In [10]:
# variable annotations
name: str = 1
print(name)
print(type(name))
print(__annotations__['name'])

1
<class 'int'>
<class 'str'>

In [ ]:
# variable annotations
aaa: int = 10
print(aaa)
print(type(aaa))
print(__annotations__['name'])